name: "Template release"

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  release:
    name: "release template file"
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - id: 'checkout'
      uses: 'actions/checkout@v4'

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

    - id: 'upload-file'
      uses: 'google-github-actions/upload-cloud-storage@v2'
      with:
        path: 'src/postgresql_to_bigquery.py'
        destination: 'bucket-prj-dinum-data-templates-66aa'

    